input:focus,
textarea:focus {
  outline: 5px solid neon yellow;
  background-color: black;
}
#links li:  {
	font-size: 15px;
	padding: 2rem;
}
#member-name :valid {
	border: 5px solid pink;
}
#member-name :invalid {
	border: 5px dashed pink;
}
#member-email:valid {
  border: 5px solid pink;
}

#member-email:invalid {
  border: 5px dashed pink;
}
#member-password :valid {
	border: 5px solid pink;
}
#member-password :invalid {
	border: 5px dashed pink;
}
#welcome h1 {
  text-shadow: -0.5px -0.5px 1px pink;
}
#welcome a:hover {
  background-color: neon yellow;
  color: white;
}
#welcome {
  text-align: center;
  padding: 3rem 1rem;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container article {
  width: 32%;
  box-shadow: 6px 6px yellow;
}
.
#why article {
  padding: 3rem;
}
#field-notes span,
#field-notes strong,
#field-notes a {
  outline: 2px dashed pink;
}

#field-notes div,
#field-notes p {
  outline: 2px solid yellow;
}
.gitignore {
git rm --cached style.css;
}